.container {
  height: 100%;
  width: 70%;
  color: var(--primary-color);
}

.header {
  padding: 1rem 1rem;
  background-color: #eee;
}

.body {
  padding: 0 1rem;
}

.name {
  font-size: 5rem;
  letter-spacing: 0.5rem;
  display: flex;
  font-weight: 700;
  justify-content: center;
  align-items: center;
}

.title_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  white-space: nowrap;
  margin: 0 1rem;
  text-transform: uppercase;
}

.title_container::before,
.title_container::after {
  display: inline-block;
  content: "";
  height: 1rem;
  width: 40%;
  background-color: var(--primary-color);
}

.company_container {
  display: flex;
  margin: 2rem 0 1rem 0;
  align-items: center;
  color: var(--accent-color);
}

.text {
  font-weight: 300;
}

.duration{
  font-size: 1.5rem;
}
